
footer{
    grid-area: f;
    background-color:blue ;
    
}


body{
    background-color:white ;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(windows_xp_bliss-wide.jpg);
    background-repeat: no-repeat;
}
main{
    background-color: white;
    width:80%;
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  
    'h h'
    'f f' 
    ;
    

}
nav{
    background-color:white;
    font-size:12px;
    width: 200px;
    

}
nav li{
    text-align:10px ;
    list-style-type:10px ;
    
}
nav li:hover{
    background-color: lightblue;
    border-radius: 3px;
}

h1{
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 800px;

    
}
header{
    grid-area: h;
    color: green;
    font-size: 10px;
    text-align: 10px;
    background-color: blue;
   


        
}

h3{
    background-color:blue;
    color:white ;
}
